<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
</head>

<body>
    <div style="font-size: 55px;">DA LIỄU</div>
    <div class="chon_he">
        <div class="box" id="box_1">
            <a href="/ask?type=1" class="btn">
                <span class="btn-label">Da liễu tổng hợp </span></a>
            <div class="anh-1"></div>
            <div class="vanban">Các bệnh da liễu  
            </div>
        </div>
    </div>
</body>

<script>

</script>

</html>