<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>KHÁM BỆNH</h1>
    <div class="khungchat">
      <div id="chatbox">
        <p class="botText"><span>Xin chào bạn. Bạn đang có những <br> triệu chứng như thế nào</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="typing...">
        <input id="buttonInput" type="submit" value="GỬI">
      </div>
      <script src="/static/app.js"></script>
    </div>
  </body>
</html>